
<section id="deal" class="deal">
  <div class="container">
      <h2 class="section-title title">Наши лучшие предложения</h2>
      <div class="deal-content">
          <div class="swiper-container deals-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide" style="background-image:url(./img/deal-slide-5.jpg)">
                <div class="swiper-slide-inner">
                  <p class="slide-inner-title">Забронируйте 4 ночи в Апартаментах "Люкс" <br> и получите 5-ую в подарок</p>
                  <button data-modal class="btn btn--center">Забронировать</button>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url(./img/deal-slide-4.jpg)">
                <div class="swiper-slide-inner">
                  <p class="slide-inner-title">Забронируйте 4 ночи в Апартаментах "Люкс" <br> и получите 5-ую в подарок</p>
                  <button data-modal class="btn btn--center">Забронировать</button>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url(./img/deal-slide-1.jpg)">
                <div class="swiper-slide-inner">
                  <p class="slide-inner-title">Забронируйте 4 ночи в Апартаментах "Люкс" <br> и получите 5-ую в подарок</p>
                  <button data-modal class="btn btn--center">Забронировать</button>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url(./img/deal-slide-2.jpg)">
                <div class="swiper-slide-inner">
                  <p class="slide-inner-title">Забронируйте 4 ночи в Апартаментах "Люкс" <br> и получите 5-ую в подарок</p>
                  <button data-modal class="btn btn--center">Забронировать</button>
                </div>
              </div>
              <div class="swiper-slide" style="background-image:url(./img/deal-slide-3.jpg)">
                <div class="swiper-slide-inner">
                  <p class="slide-inner-title">Забронируйте 4 ночи в Апартаментах "Люкс" <br> и получите 5-ую в подарок</p>
                  <button data-modal class="btn btn--center">Забронировать</button>
                </div>
              </div>
            </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>

            </div>
      </div>
      <button data-modal2 class="btn btn--center">Поддерживать связь</button>
  </div>
</section>