<section id="dinner" class="dinner">
    <div class="container">
        <h2 class="section-title title">Пообедайте с нами</h2>
        <div class="dinner-content">
            <div class="dinner-header">
                <p class="dinner-header__item">В Кафе, расположенном на территории Гостиницы, подают домашнюю пасту и крем-суп.</p>
                <p class="dinner-header__item">Завтрак, обед и ужин, - повторяйте уже привычные блюда в уютном Кафе нашей Гостиницы.</p>
            </div>
            <div class="dinner-items">
                <div class="dinner-item">
                    <div class="dinner-item-text">
                    <div class="dinner-item-text--item">Завтрак</div>
                    <div class="dinner-item-text--item">7:30-10:30</div>

                     </div>
                     <img loading="lazy"src="./img/dinner-1.png" class="dinner-item--img">

                </div>
                <div class="dinner-item">
                    <div class="dinner-item-text">
                        <div class="dinner-item-text--item">Обед</div>
                        <div class="dinner-item-text--item">12:00-16:00</div>

                     </div>
                     <img loading="lazy"src="./img/dinner-2.png" class="dinner-item--img">

                </div>
                <div class="dinner-item">
                    <div class="dinner-item-text">
                    <div class="dinner-item-text--item">Ужин</div>
                    <div class="dinner-item-text--item">17:00-19:00</div>
                     </div>
                     <img loading="lazy"src="./img/dinner-3.png" class="dinner-item--img">
                </div>
            </div>
            <div class="dinner-subinfo">
                <div class="dinner-overlay">
                    <div class="dinner-subinfo__text">
                        <p>Если вы предпочитаете приём пищи в уединении, - попробуйте питаниие в номере.</p>
                            <p>Отдохните в комфорте вашего собственного номера. Доставленный завтрак/обед/ужин из кафе окажется правильным решением.</p>
                    </div>
                    <div class="dinner-subinfo__img-wrapper">
                        <img loading="lazy"src="./img/health8.jpg" alt="">
                        <div class="dinner-subinfo__img-text">Звонок из номера <div class="box"><img loading="lazy"src="./img/bi_telephone.svg" alt=""><span>709</span></div></div>
                    </div>
                </div>
            </div>
            <div class="dinner__center flex --just-space">
              <div class="dinner__center-item leftside">
                <div class="dinner__item-img">
                  <picture>
                    <source srcset="./img/dinner-l.webp" type="image/webp">
                    <img loading="lazy"src="./img/dinner-l.jpg" alt="Чашечка кофе">
                  </picture>
                </div>
                <div class="dinner__item-text">
                  <p>
                    Позвольте себе поужинать на террасе Апартаментов. При заказе от 3-х ночей, мы подарим Вам легкий ужин на две персоны и доставим прямо в номер.
                  </p>
                </div>
              </div>
              <div class="dinner__center-item rightside">
                <div class="dinner__item-text">
                  <div class="dinner__item-title -bold">
                    Если вы желаете большего
                  </div>
                  <p>
                    Начните свой день с чашки кофе,
                    доставленного прямо к вам в номер.
                  </p>
                </div>
                <div class="dinner__item-img">
                  <picture>
                    <source srcset="./img/dinner-r.webp" type="image/webp">
                    <img loading="lazy"src="./img/dinner-r.jpg" alt="Фото девушки с коктейлем">
                  </picture>
                </div>
              </div>
            </div>
            <form id="booking-form">
                <div class="inputs-wrapper">
                    <div class="inputs-item inputs-item-1">
                        <label for="date">Дата*</label>
                        <input id="date" type="text">
                    </div>
                    <div class="inputs-item inputs-item-2">
                        <label for="guest">Кол-во гостей*</label>
                        <input id="guest" type="text">
                    </div>
                    <div class="inputs-item inputs-item-3">
                        <label for="time">Время*</label>
                        <input id="time" type="text">
                    </div>
                    <div class="inputs-item inputs-item-4">
                        <label for="phone">Телефон*</label>
                        <input id="phone" type="text">
                    </div>
                    <div class="inputs-item inputs-item-5">
                        <label for="comment">Комментарий</label>
                        <input id="comment" type="text">
                    </div>
                </div>
                <a  class="btn  btn--center">Зарезервировать</a>

            </form>
        </div>
    </div>
</section>
