

<section class="guest">
  <div class="container">
      <div class="guest-content">
          <h2 class="title">Обзор размещения в гостевых номерах</h2>
          <a href="divs/" class="breadcrumb">Вернуться на главную</a>
      </div>
      <div class="guest__items">
          <div class="guest__items--item">
              <div class="guest__item--item-content flex">
                  <div class="left-part">
                      <div class="guest-slider">
                          <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                  <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-slide-econom-2.jpg" alt="">
                              </div>
                              <div class="swiper-slide">
                                <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-slide-econom-1.jpg" alt="">

                              </div>
                              <div class="swiper-slide">
                                <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-slide-econom-3.jpg" alt="">
                              </div>
                          </div>
                          <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>

                      </div>
                      <button class="btn btn--center">Проверить наличие свободных дат</button>
                  </div>
                  <div class="right-part flex --dir-col ">
                      <div class="guest__item--item-title">
                          Номер "Эконом" с двумя отдельными кроватями
                      </div>
                      <ul class="hotel-item-list guest-list guest-hidden">
                          <li>Система кондиционирования воздуха
                          </li>
                          <li>Мини-холодильник</li>
                          <li>TV</li>
                          <li>Ванная комната с душевой кабиной
                          </li>
                          <li>Доступ к высокоскоростному интернету
                          </li>
                          <li>Прихожая 5 кв.м.
                          </li>
                      </ul>
                      <div class="guest-btn-wrapper flex">
                          <div class="guest-btn"><p  >О номере</p></div>
                          <div class="gues-squar guest-hidden">
                              20 м.кв
                          </div>

                          <img loading="lazy" class="guest-hidden guest-img--icon" src="./img/people.png" alt="">

                      </div>
                      <div class=" guest-hidden guest-subinfo">*В номерах данной категории отсутствует вид из окна ввиду особенностей строения.</div>
                  </div>
              </div>
          </div>
            <div class="guest__items--item">
                <div class="guest__item--item-content flex">
                    <div class="left-part">
                        <div class="guest-slider2">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-slide-econom-king-2.jpg" alt="">
                                </div>
                                <div class="swiper-slide">
                                  <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-slide-econom-king-1.jpg" alt="">

                                </div>
                                <div class="swiper-slide">
                                  <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-slide-econom-king-3.jpg" alt="">
                                </div>
                            </div>
                            <div class="swiper-button-prev"></div>
                          <div class="swiper-button-next"></div>

                        </div>
                        <button class="btn btn--center">Проверить наличие свободных дат</button>
                    </div>
                    <div class="right-part flex --dir-col ">
                        <div class="guest__item--item-title">
                            Номер "Эконом" с 1 большой двуспальной кроватью king size
                        </div>
                        <ul class="hotel-item-list guest-list guest-hidden">
                            <li>Система кондиционирования воздуха
                            </li>
                            <li>Мини-холодильник</li>
                            <li>TV</li>
                            <li>Ванная комната с душевой кабиной
                            </li>
                            <li>Доступ к высокоскоростному интернету
                            </li>
                            <li>Прихожая 5 кв.м.
                            </li>
                        </ul>
                        <div class="guest-btn-wrapper flex">
                            <div class="guest-btn"><p  >О номере</p></div>
                            <div class="gues-squar guest-hidden">
                                20 м.кв
                            </div>

                            <img loading="lazy" class="guest-hidden guest-img--icon" src="./img/people.png" alt="">

                        </div>
                        <div class=" guest-hidden guest-subinfo">*В номерах данной категории отсутствует вид из окна ввиду особенностей строения.</div>
                    </div>
                </div>
            </div>
                <div class="guest__items--item">
                    <div class="guest__item--item-content flex">
                        <div class="left-part">
                            <div class="guest-slider3">
                                <div class="swiper-wrapper">
                                  <div class="swiper-slide">
                                      <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-standart-2.jpg" alt="">
                                  </div>
                                  <div class="swiper-slide">
                                    <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-standart-1.jpg" alt="">

                                  </div>
                                  <div class="swiper-slide">
                                    <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-standart-3.jpg" alt="">
                                  </div>
                                </div>
                                <div class="swiper-button-prev"></div>
                              <div class="swiper-button-next"></div>

                            </div>
                            <button class="btn btn--center">Проверить наличие свободных дат</button>
                        </div>
                        <div class="right-part flex --dir-col ">
                            <div class="guest__item--item-title">
Номер "Стандарт" с двумя отдельными кроватями                            </div>
                            <ul class="hotel-item-list guest-list guest-hidden">
                                <li>Система кондиционирования воздуха
                                </li>
                                <li>Мини-холодильник</li>
                                <li>TV</li>
                                <li>Ванная комната с душевой кабиной
                                </li>
                                <li>Доступ к высокоскоростному интернету
                                </li>
                                <li>Прихожая 5 кв.м.
                                </li>
                            </ul>
                            <div class="guest-btn-wrapper flex">
                                <div class="guest-btn"><p  >О номере</p></div>
                                <div class="gues-squar guest-hidden">
                                    20 м.кв
                                </div>

                                <img loading="lazy" class="guest-hidden guest-img--icon" src="./img/people.png" alt="">

                            </div>
                            <div class=" guest-hidden guest-subinfo">*В номерах данной категории отсутствует вид из окна ввиду особенностей строения.</div>
                        </div>
                    </div>
                </div>
                    <div class="guest__items--item">
                        <div class="guest__item--item-content flex">
                            <div class="left-part">
                                <div class="guest-slider4">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-standart-king-2.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                          <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-standart-king-1.jpg" alt="">

                                        </div>
                                        <div class="swiper-slide">
                                          <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-standart-king-3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                  <div class="swiper-button-next"></div>

                                </div>
                                <button class="btn btn--center">Проверить наличие свободных дат</button>
                            </div>
                            <div class="right-part flex --dir-col ">
                                <div class="guest__item--item-title">
Номер "Стандарт" с 1 большой двуспальной кроватью king size                                </div>
                                <ul class="hotel-item-list guest-list guest-hidden">
                                    <li>Система кондиционирования воздуха
                                    </li>
                                    <li>Мини-холодильник</li>
                                    <li>TV</li>
                                    <li>Ванная комната с душевой кабиной
                                    </li>
                                    <li>Доступ к высокоскоростному интернету
                                    </li>
                                    <li>Прихожая 5 кв.м.
                                    </li>
                                </ul>
                                <div class="guest-btn-wrapper flex">
                                    <div class="guest-btn"><p  >О номере</p></div>
                                    <div class="gues-squar guest-hidden">
                                        20 м.кв
                                    </div>

                                    <img loading="lazy" class="guest-hidden guest-img--icon" src="./img/people.png" alt="">

                                </div>
                                <div class=" guest-hidden guest-subinfo">*В номерах данной категории отсутствует вид из окна ввиду особенностей строения.</div>
                            </div>
                        </div>
                    </div>
                    <div class="guest__items--item">
                        <div class="guest__item--item-content flex">
                            <div class="left-part">
                                <div class="guest-slider5">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-luxe-2.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                          <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-luxe-1.jpg" alt="">
                                        </div>
                                        <div class="swiper-slide">
                                          <img loading="lazy" style="object-fit: cover; width: 520.17px; height: 347px;" src="./img/guest-luxe-3.jpg" alt="">
                                        </div>
                                    </div>
                                    <div class="swiper-button-prev"></div>
                                  <div class="swiper-button-next"></div>
                                </div>
                                <button class="btn btn--center">Проверить наличие свободных дат</button>
                            </div>
                            <div class="right-part flex --dir-col ">
                                <div class="guest__item--item-title">
                                  Апартаменты “Люкс”
                                </div>
                                <div class="lux-text guest-hidden">
                                    *Двухэтажные Апартаменты "Люкс" на шестом этаже гостиницы, общей площадью 125 м.кв. с выходом на террасу, а также панорамным видом на набережную реки Исеть и центр города.
                                </div>
                                <div class="tabs-wrapper guest-hidden">
                                    <div class="tabs-link-wrapper">
                                        <div class="tabs-link tabs-link-active">
                                            1 этаж
                                        </div>
                                        <div class="tabs-link">
                                            2 этаж
                                        </div>
                                    </div>
                                <div class="tabs-content">
                                    <ul class="hotel-item-list ">
                                        <li>Одна комфортабельная двуспальная кровать
                                        </li>
                                        <li>Система кондиционирования воздуха
                                        </li>
                                        <li>Мини-холодильник</li>
                                        <li>TV
                                        </li>
                                        <li>Ванная комната с душевой кабиной

                                        </li>
                                        <li>Доступ к высокоскоростному интернету
                                        </li>
                                        <li>Терраса с видом на город
                                        </li>
                                    </ul>
                                </div>
                                <div class="tabs-content tab-hidden">
                                    <ul class="hotel-item-list">
                                        <li>Система кондиционирования воздуха
                                        </li>
                                        <li>Мини-холодильник</li>
                                        <li>TV</li>
                                        <li>Ванная комната с душевой кабиной
                                        </li>
                                        <li>Доступ к высокоскоростному интернету
                                        </li>
                                        <li>Прихожая 5 кв.м.
                                        </li>
                                    </ul>
                                </div>
                                </div>
                                <div class="guest-btn-wrapper flex">
                                    <div class="guest-btn"><p  >О номере</p></div>
                                    <div class="gues-squar guest-hidden">
                                        125 м.кв
                                    </div>

                                    <img loading="lazy" class="guest-hidden guest-img--icon" src="./img/people.png" alt="">

                                </div>
                                <div class=" guest-hidden guest-subinfo">*Мы предоставим вам информацию о дополнительных местах по запросу, обратитесь к администратору.</div>
                            </div>
                        </div>
                    </div>
      </div>
      <div class="guest__bottom">
        <p>*В случае отмены бронирования в связи с пандемией covid-19 за ранее оплаченное бронирование будет возвращена стоимость проживания в соответствии с настоящими условиями договора</p>
      </div>
  </div>
</section>
