<div id="health" class="health">
  <div class="container">
    <div class="health__inner">
      <h3 class="health__title title">Оставайтесь здоровыми и активными</h3>
      <div class="health__inner-grid">
        <div class="health__grid-top --just-space  flex">
        <div class="health__grid-top-left">
          <picture>
            <source srcset="./img/health1.webp" type="image/webp">
            <img loading="lazy" src="./img/health1.jpg" alt="1">
          </picture>
          <p class="top__left-text">
            Оставайтесь здоровыми и активными! Даже в суете будней Вы сможете позаботиться о своей физической форме. Наш оборудованный спортивным инвентарём зал поможет вам оставаться на верном пути и мотивировать пройти еще один НЕ лишний километр.
          </p>
        </div>
        <div class="health__grid-top-right">
          <p class="top__right-text">
            Потренируйтесь в нашем оборудованном фитнес-пространстве на 2 этаже Гостиницы.
          </p>
          <div class="top__right-images --just-space  flex">
            <picture>
              <source srcset="./img/health2.webp" type="image/webp">
              <img loading="lazy" src="./img/health2.jpg" alt="2">
            </picture>
            <picture>
              <source srcset="./img/health3.webp" type="image/webp">
              <img loading="lazy" src="./img/health3.jpg" alt="3">
            </picture>
          </div>

        </div>
      </div>
      <div class="health__grid-center --just-space flex">
        <picture>
          <source srcset="./img/health4.webp" type="image/webp">
          <img loading="lazy" src="./img/health4.jpg" alt="4">
        </picture>
        <picture>
          <source srcset="./img/health5.webp" type="image/webp">
          <img loading="lazy" src="./img/health5.jpg" alt="5">
        </picture>
      </div>
      <div class="health__grid-bottom --just-space  flex --align-end ">
        <picture class="health__grid-bottom--img">
          <source srcset="./img/health6.webp" type="image/webp">
          <img loading="lazy" src="./img/health6.jpg" alt="6">
        </picture>
        <div class="health__grid-bottom-right">
          <div class="health__grid-bottom-text">
            <div class="health__grid-bottom-title">
              Если вы желаете большего
            </div>
            <div class="health__grid-bottom-paragraph">
              Гости, увлеченные фитнесом, могут посетить Фитнес-Арену - обновленный тренажёрный зал, оснащённый профессиональным оборудованием премиум-класса линейки Life Fitness.
            </div>
          </div>
          <div class="health__grid-bottom-images">
            <picture>
              <source srcset="./img/health7.webp" type="image/webp">
              <img loading="lazy" class="first" src="./img/health7.jpg" alt="7">
            </picture>
            <div class="humber">
              <source srcset="./img/health8.webp" type="image/webp">
              <img class="second" loading="lazy" src="./img/health8.jpg" alt="8">
              <div class="number-box">
                <div class="phone">
                  <div class="dinner-subinfo__img-text phone-title"><p>Звонок из номера </p><div class="box flex --align-center --just-center"><img loading="lazy"src="./img/bi_telephone.svg" alt=""><span>773</span></div></div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <a  data-modal class="btn btn--center">Узнать больше</a>
    </div>
  </div>
</div>
