<section id="instagram" class="instagram">
  <div class="container">
      <h2 class="section-title title">Мы в Instagram</h2>
      <div class="instagram-content">
          <div class="inst-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(./img/inst1.png);"></div>
                    <div class="swiper-slide" style="background-image: url(./img/inst2.png);"></div>
                    <div class="swiper-slide" style="background-image: url(./img/inst3.png);"></div>
                    <div class="swiper-slide" style="background-image: url(./img/inst1.png);"></div>
                    <div class="swiper-slide" style="background-image: url(./img/inst2.png);"></div>
                    <div class="swiper-slide" style="background-image: url(./img/inst3.png);"></div>
                </div>
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
              <div class="swiper-pagination"></div>
          </div>
      <div class="instagram-link">
          <img loading="lazy" src="./img/inst-icon.png" alt="Инстагарм">
          <a href="#"  class="inst-link">Больше фото в нашем Instagram</a>
      </div>
      </div>
  </div>
</section>
