<div id="news" class="news">
  <div class="container">
    <div class="news__inner">
      <div class="news__title title">
        Новости о безопасности и защите здоровья
      </div>
      <div class="news__appeal">
        <span class="quotes">“</span>
        <p>Дорогие друзья, мы все внесли свой вклад в предоление чрезвычайной ситуации covid-19 и продолжаем вести себя осторожно и ответственно,		чтобы гарантировать безопасность наших гостей и сотрудников.</p>
        <p>Мы постоянно находимся в контакте с региональными подразделениям, которые отвечают за разработку рекомендаций на предстоящий туристический сезон. </p>
        <p>Мы полны решимости показать весь свой профессионализм, энтузиазм и творческий подход, чтобы предложить вам такой же приём , как и всегда! те же эмоции и ту же страсть, даже если мы не будем пожимать вам руки.</p>
        <p>Наших глаз будет достаточно, чтобы показать вам нашу радость и приветствовать вас снова в Гостинице "ДИВС" !</p>
        <span class="quotes">“</span>
      </div>
      <div class="news__foreseeing">
        <div class="foreseeing__title">
          Мы предусмотрели для вас:
        </div>
        <div class="foreseeing__inner flex">
          <ul>
            <li>Расположение дезинфекторов для рук в легкодоступных местах на каждом этаже Гостиницы.</li>
            <li>Регулярная дезинфекция номеров и помещений общего пользования
            </li>
            <li>Замер температуры гостям при регистрации, а также ежедневный замер температуры у сотрудников.</li>
            <li>Использование разметки для социального дистанцирования.</li>
            <li>Использование медицинских масок для лица, как персоналом, так и гостями</li>
            <li>Проведение рециркуляции воздуха каждые 3 часа, использование естественной вентиляции.</li>
            <li>При развивающихся симптомах covid-19 у гостя или у персонала сведение к минимуму контакт больного с другими гостями или сотрудниками, временная изоляция в номере до прибытия медицинского работника.</li>
          </ul>
          <img loading="lazy" src="./img/mask-please.png" alt="">
        </div>
        <div class="foreseeing__bottom">
          <p>Принимая гостей в нашей Гостинице мы заботимся о вашем здоровье и благополучии. Соблюдайте правила профилактики COVID-19 и будьте здоровы!</p>
          <p class="grey">
            * в случае отмены бронирования в связи с пандемией covid-19 за ранее оплаченное бронирование будет возвращена стоимость проживания в соответствии с настоящими условиями договора
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
