<div id="plans" class="plans">
  <div class="container">
    <div class="plans__inner">
      <div class="plans__title title">
        Планируйте деловую встречу
      </div>
      <div class="plans__subtitle">
        Для тех кому некогда отдыхать
      </div>
      <div class="plans__inner-top flex --just-space">
        <div class="plans__inner-top_left">
        <picture>
          <source srcset="./img/plans1.webp" type="image/webp">
          <img loading="lazy" src="./img/plans1.png" alt="1">
        </picture>
      </div>
        <div class="plans__top-text">
          <p>Команда профессионалов Дворца игровых видов спорта с особым вниманием займётся подготовкой конференц-пространства для проведения вашей деловой встречи в центре Екатеринбурга.</p>
          <p>Мероприятия и встречи в конференц-пространствах Дворца игровых видов спорта могут быть организованы в соответствии с вашими конкретными особенностями и тематикой.</p>
        </div>
      </div>
      <div class="plans__inner-cards --just-space flex">
        <div class="plans__card">
          <picture>
            <source srcset="./img/card1.webp" type="image/webp">
            <img loading="lazy" src="./img/card1.png" alt="1">
          </picture>
        <div class="plans__card-info  flex --just-space">
          <div class="plans__card-info_left">
            <div class="plans__card-name">
              Пресс-центр блок А
            </div>
          </div>
          <div class="plans__card-info_right">
            <p class="plans__card-advantage">
              Вместимость 50 мест
            </p>
          </div>
        </div>
      </div>
        <div class="plans__card">
          <picture>
            <source srcset="./img/card2.webp" type="image/webp">
            <img loading="lazy" src="./img/card2.png" alt="2">
          </picture>
        <div class="plans__card-info --just-space flex">
          <div class="plans__card-info_left">
            <div class="plans__card-name">
              Конференц-зал блок Б
            </div>
            <a href="#" data-modal class="btn">Узнайте больше  </a>
          </div>
          <div class="plans__card-info_right">
            <p class="plans__card-advantage">
              Вместимость 50 мест
            </p>
            <p class="plans__card-advantage">
              Вместимость 140 мест
            </p>
            <p class="plans__card-advantage">
              Заполнение дневным светом из панорамных окон
            </p>
            <a href="#" data-modal class="btn media992">Узнайте больше  </a>
          </div>
        </div>
      </div>
      </div>
      <div class="plans__inner-text">
        <p>Все помещения оснащены современным техническим аудиовизуальным оборудованием для удовлетворения всех потребностей заказчика.</p>
      </div>
      <div class="plans__inner-bottom">
        <p>Оставьте прямо сейчас</p>
        <a data-modal2 class="btn btn--center">Запрос предложения</a>
      </div>
    </div>
  </div>
</div>
