<section id="review" class="review">
    <div class="container">
        <h2 class="section-title title">Обзор размещения в гостевых номерах</h2>
        <div class="review-content">
            <div class="review-content--left-part">
                <div class="review-content--img-wrapper">
                    <img loading="lazy" src="./img/review-image-1.jpg" alt="review image">
                    <img loading="lazy" src="./img/review-image-2.jpg" alt="review image">
                    <img loading="lazy" src="./img/review-image-3.jpg" alt="review image">

                </div>
                <img loading="lazy" src="./img/review-image-4.jpg" alt="review image">
            </div>
            <div class="review-content--right-part">
                <div class="review-content-text">
                 <p>   Номерной фонд гостиницы "ДИВС" включает 27 гостевых номеров категорий Эконом, Стандарт ( с балконом и без)  и  Апартаменты "ЛЮКС" с панорамным видом на набережную р. Исеть и центр города и собственной террасой.</p>
                </div>
                <div class="review-content--alert">
                    <div class="review-content--alert-text">Обратите внимание!</div>
                    <hr>
                    <div class="review-content--alert-items">
                        <div class="review-content--alert-item">
                        <div class="review-content--alert__item-text">
                            Регистрация заезда: <br>
                            <span>14:00 РМ</span>
                        </div>
                        </div>
                        <div class="review-content--alert-item">
                        <div class="review-content--alert__item-text">
                            Регистрация выезда: <br>
                            <span>12:00 РМ</span>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-content__subinfo">
            <div class="review-content__subinfo-wrapper"><p class="review-content__subinfo-text">DIVS Hotel расположен в историческом центре Екатеринбурга, в шаговой доступности от деловых, культурных, развлекательных объектов, достопримечательностей и музеев.
            </p>
        <p class="review-content__subinfo-text"> Номера предназначены как для индивидуальных путешественников, семейного отдыха, так и для деловых туристов.</p>
<div>
        <img loading="lazy" src="./img/subinfo.png" alt="" class="review-content__subinfo-img">
        </div>
        <div class="review-content__subinfo-service">
        <div class="review-content__subinfo-service--title">Сервисы, доступные гостю:</div>
        <div class="revivew-content__subinfo-service--content">
            <ul class="review_content__subinfo-service--list">
                <li>Онлайн-регистрация заезда</li>
                <li>Индивидуальные сейфы для ценных вещей на ресепшн</li>
                <li>Охраняемый наземный паркинг</li>
                <li>Room-service</li>
                <li>Прачечная, глажение и химчистка</li>
                <li>Бесплатный высокоскоростной доступ в интернет в номерах и Wi-Fi на всей территории отеля</li>
                <li>Вызов такси</li>
                <li>Заказ билетов на различные виды транспорта</li>
                <li>Массажный кабинет</li>
                <li>Аренда спортивных залов и конференц-пространства</li>
                <li>Возможность проживания с животными</li>
                <li>Фитнес-зал и персональный тренинг</li>
            </ul>
            <div >
                <img loading="lazy" src="./img/service-img.jpg" alt="">
            </div>
        </div>
        <a href="#" class="rules">Правила проживания в гостинице «ДИВС» <img loading="lazy" src="./img/pdf.svg" alt=""></a>
        <a href="guest.html" class="btn btn--center">Смотреть все номера</a>
    </div>
    </div>
</section>
