<section id="rides" class="rides">
    <div class="container">
        <h2 class="section-title title">Специальные предложения для организованных групповых ЗАЕЗДОВ</h2>
        <div class="rides-header">
            <img loading="lazy" src="./img/rides.jpg" alt="Заезд картинка" class="rides-header__img">
            <div class="rides-header--text">
                Забронируйте первое групповое мероприятие в Гостинце "ДИВС" и воспользуйтесь нашими специальными стимулами для проведения встреч.
            </div>
        </div>
        <div class="rides__items-wrapper">
            <div class="rides__item">
                <div class="rides__item-left-part">
                    <ul>
                        <li>10%</li>
                    </ul>
                </div>
                <div class="rides__item-right-part">
                    <div class="rides__item-right-part--text">Получите свой 1 стимул при бронировании от   5 - 10 номеров.</div>
                    <div class="rides__item-right-part--subtext">Минимум 5 номерови минимум 3 ночи проживания</div>
                </div>
            </div>
            <div class="rides__item">
                <div class="rides__item-left-part">
                    <ul>
                        <li>15% на конферец-пространства</li>
                        <li>10%</li>
                    </ul>
                </div>
                <div class="rides__item-right-part">
                    <div class="rides__item-right-part--text">Получите 1 дополнительный стимул при бронировании от 11 - 20 номеров.</div>
                    <div class="rides__item-right-part--subtext">Минимум 11 номерови минимум 3 ночи проживания</div>
                </div>
            </div>
            <div class="rides__item">
                <div class="rides__item-left-part">
                    <ul>
                        <li>15% на конферец-пространства</li>
                        <li>10%</li>
                        <li>5 дополнительных FREE мест (роскладушка)</li>
                        <li>20% на групповое питание</li>
                    </ul>
                </div>
                <div class="rides__item-right-part">
                    <div class="rides__item-right-part--text">Выберите 2 стимула при бронировании всего номерного фонда гостиницы.</div>
                    <div class="rides__item-right-part--subtext">Минимум 26 номеров и минимум 3 ночи проживания</div>
                </div>
            </div>
            <div class="rides--subtext">
                Специальные предложения для групп действуют только для организованных групповых заездов из 10 человек и более.
            </div>
        </div>

    </div>
</section>
