

@media (max-width: 1601px) {
  .left-part .swiper-button-next {
    top: 90%;
    right: -21%;
    height: 44px;
    width: 44px
  }
  .health .phone {
    width: 45%;
    height: 45%;
  }
  .health .phone span {
    height: 30px;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text span {
    height: 30px;
  }
  .intro__booking-input input{
    max-width: 120px;
  }
  .intro__booking-input.input-4{
    margin-right: 5px;
  }
  .gallery__title {
    width: 100%;
    & p {
      transform: translate(0px,500px);
      padding-left: 0;
    }
  }
  .intro__booking-right-input{
    font-size: 1.4rem;
    margin-right: 45px;
  }
  .intro__booking-input{
    margin-right: 20px;
  }
  .intro__booking-right-btn{
    padding: 15px 35px;
  }
  .intro__booking-right-btn a{
    font-size: 15px;
    padding: 10px 18px;
  }
  .textarea_comment{
    width: 215px;
  }
  .container{
    max-width: 1300px;
  }
  .modal-content .subtitle {
    font-size: 24px;
  }
  #booking-form {
    margin-top: 40px;
  }
  .inputs-item:nth-child(5) {
    width: 100%;
  }
  .modal-content {
    width: 65%;
    height: 550px;
    overflow-y: hidden;
    & .title {
      font-size: 30px;
    }
    & .subtitle {
      font-size: 20px;
    }
    #booking-form {
      margin-top: 20px;
    }
    & .inputs-wrapper {
      grid-row-gap: 5px;
    }
    & .inputs-item {
      font-size: 24px;
    }
    & #comment {
      height: 87px;
    }
    & .inputs-wrapper {
      max-width: 650px;
    }
  }
  .modal.show {
    padding: 0px 20px;
  }
  .modal-close {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .modal #comment {
    width: 100%;
  }
  .modal .inputs-wrapper {
    justify-content: space-between;
  }
  .modal-content .subtitle {
    font-size: 24px;
  }
  #booking-form {
    margin-top: 40px;
  }
  .modal2 .inputs-item:nth-child(5) {
    width: 100%;
  }
  .modal2.show {
    padding: 0px 20px;
  }
  .modal-close {
    svg {
      width: 20px;
      height: 20px;
    }
  }
  .modal2 #comment {
    width: 100%;
  }
  .modal2 .inputs-wrapper {
    justify-content: space-between;
  }
  .review-content__subinfo {
    margin-top: 140px;
    width: 100%;
  }
  .review-content {
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
  .review-content-text {
    margin-bottom: 180px;
  }
  .dinner-subinfo__text p {
    padding-left: 10px;
  }
  .dinner {
    overflow-x: hidden;
  }
  .dinner-subinfo__text::before {
    position: absolute;
    content: '';
    background: rgba(255,255,255,.5);
    width: 778px;
    height: 280px;
    top: -49px;
    left: -70px;
  }
  .dinner-overlay {
    align-items: center;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text {
    align-items: center;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .dinner__center-item .dinner__item-text {
    padding: 90px 50px 50px 0;
}
  .menu__inner {
    padding: 20px 30px 50px;
  }
  .review-content--alert__item-text span,
  .review-content--alert-text,
  .foreseeing__bottom,
  .foreseeing__inner,
  .news__appeal,
  .rides--subtext,
  .rides__item-right-part--text,
  .rides-header--text,
  .inputs-item label,
  .instagram-link a,
  .dinner-subinfo__text,
  .dinner-content .dinner-header__item,
  .dinner__center-item p,
  .plans__inner-cards .plans__card .plans__card-name,
  .plans__inner-text,
  .plans__inner-top .plans__top-text,
  .health__grid-bottom-text,
  .dinner-subinfo__text p .top__left-text,
  .dinner-subinfo__text p,
  .rides__item-left-part ul li,
  .plans__subtitle,
  .dinner-subinfo__img-text,
  .dinner__item-text,
  .dinner-item-text,
  .top__right-text,
  .rules,
  .intro__booking-title,
  .plans__inner-bottom p,
  .review-content-text,
  .review-content__subinfo-text,
  .review_content__subinfo-service--list li,
  .map__info-contacts-title {
    font-size: 26px;
    line-height: 32px;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text span {
    font-size: 48px;
  }
  .news__appeal .quotes {
    left: -42px;
    font-size: 300px;
    top: -180px;
  }
  .news__appeal .quotes:last-child {
    right: -20px;
    bottom: 50px;
  }
  .review-content__subinfo-service {
    padding-right: 0;
  }
  .revivew-content__subinfo-service--content img {
    width: 410px;
    height: 430px;
    padding-top: 20px;
    margin-right: 0;
    border-radius: 6px;
  }
  .review-content__subinfo {
    margin-top: 100px;
  }
  .review-content__subinfo img {
    bottom: auto;
  }
  .revivew-content__subinfo-service--content {
    align-items: center;
  }
  .contacts__map-wrapper {
    iframe {
      width: 100%;
    }
  }
  .gallery__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    font-size: 5rem;
  }
  .box {
    align-items: center;
    img {
      width: 50px;
      height: 46px;
      object-fit: contain;
    }
  }

  .rides__items-wrapper {
    padding: 0px 30px ;
  }
  .foreseeing__inner {
    img {
      width: 293px;
      height: 414px;
    }
  }

}
@media (max-width: 1450px) {
  .intro__booking-input.input-1::after, .intro__booking-input.input-2::after {
    height: 32px;
  }
  .intro__booking-input.input-1::before, .intro__booking-input.input-2::before {
    bottom: 4.5px;
  }
  .intro__booking-input, .intro__booking-right-input {
    font-size: 1.6rem;
  }
  .phone-title {
    height: 80%;
  }
  .health .phone {
    height: 55%;
  }
  .health .box {
    margin-top: 15px;
  }
  .health .box img {
    height: 90%;
    overflow: visible;
    object-fit: contain;
}
.gallery__title p {
  transform: translate(-30px,500px);
  padding-left: 0;
}
.phone-title {
  font-size: 26px!important;
}
.health .phone span {
  height: 30px;
}
.health .phone {
  width: 55%;
  height: 55%;
}
.health .box img {
  width: 17%!important;
}
.guest__item--item-content .left-part {
  width: 37%;
}
.review-content__subinfo {
  margin-top: 80px;
}
.review-content__subinfo img {
  width: 310px;
  height: 310px;
}

.guest-btn {
    cursor: pointer;
    border: 1px solid #000;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 20px 64px 20px 40px;
    font-weight: 600;
    margin-right: 25px;
}
.guest__item--item-content > .left-part {
    margin-right: 142px;
}
.guest__item--item-content > .left-part > .btn {
    max-width: 440px;
    left: 125px;
    position: relative;
    top: 20px;
}
.left-part .swiper-button-next {
    top: 90%;
    right: -38%;
    height: 44px;
    width: 44px;
}
  .guest__items--item {
    left: 0;
    width: 100%;
  }
  .textarea_comment{
    width: 175px;
  }
  .intro__booking-input{
    margin-right: 15px;
    & input{
      height: 32px;
      max-width: 120px;
    }
  }
  .intro{
    background-image: url('../img/introbg-cut2.jpg');
  }
  .intro__booking-right-input {
    font-size: 1.5rem;
    margin-right: 40px;
    padding-bottom: 10px;
  }

  .intro__booking-right-btn{
    padding: 0;
  }
  .intro__booking-right {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
}
  .intro__booking-input.input-4{
    margin-right: 5px;
  }
  .intro__text{
    padding-bottom: 75px;
  }
  .rides__items-wrapper .rides__item {
    padding: 25px 70px 16px 70px;
  }
  .rides__items-wrapper .rides__item-left-part {
    width: 45%;
    margin-right: 30px;
  }
  .textarea_comment{
    height: 100px;
  }
  .header__rightside-icons a{
    width: 35px;
    height: 35px;
  }
  .header__btn.btn{
    font-size: 20px;
  }
  .rides__item::before {
    width: 100px;
    width: 70px;
    @include bg ('contain');
  }
  .intro__booking-right-input,
  textarea {
    max-width: 188px;
  }

  .dinner__center-item.rightside .dinner__item-img,
  .dinner__center-item .dinner__item-img {
    height: auto;
  }
  .dinner__center-item .dinner__item-text {
    padding: 60px 50px 50px 0;
}
  .news__appeal .quotes {
    font-size: 200px;
    top: -161px;
    left: -53px;
  }
  .rides__item {
    padding: 25px 60px;
  }
  .inst-slider {
    width: 100%;
  }
  .intro__booking-input {
    font-size: 1.6rem;
    & input[type="date"] {
      font-size: 1.45rem;
    }
  }
  .container {
    max-width: 1000px;
    // padding: 0px 20px;
  }
  .box {
    align-items: center;
    img {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }
  }
  .review-content--alert-item img {
    width: 30px;
    height: 30px;
  }
  .review-content--img-wrapper {
    width: 91%;
  }
  .btn {
    font-size: 1.6rem;
  }
  .review-content--alert {
    padding: 30px 20px;
  }
  .title {
    font-size: 4rem;
  }
  .gallery__title {
    width: 100%;
  }
  .foreseeing__inner {
    img {
      width: 253px;
      height: auto;
    }
  }
  .review-content--alert__item-text,
  .review-content--alert__item-text span,
  .dinner-subinfo__text p .review-content--alert-text,
  .rides__item-left-part ul li,
  .foreseeing__bottom,
  .dinner-item-text,
  .dinner-subinfo__img-text,
  .dinner__center-item p,
  .intro__booking-title,
  .foreseeing__inner,
  .map__info-contacts-title,
  .news__appeal,
  .rides--subtext,
  .rides__item-right-part--text,
  .dinner__item-text,
  .rides-header--text,
  .inputs-item label,
  .instagram-link a,
  .dinner-subinfo__text p,
  .dinner-content .dinner-header__item,
  .plans__inner-cards .plans__card .plans__card-name,
  .plans__inner-text,
  .plans__inner-top .plans__top-text,
  .health__grid-bottom-text,
  .top__left-text,
  .top__right-text,
  .rules,
  .review-content-text,
  .review-content__subinfo-text,
  .plans__subtitle,
  .plans__inner-bottom p,
  .review_content__subinfo-service--list li,
  .menu ul li a {
    font-size: 20px;
    line-height: 28px;
  }
  .review_content__subinfo-service--list {
    padding-right: 10px;
  }
  .review-content--img-wrapper img:last-child {
    height: 100%;
  }
  .rides-header__img {
    // height: auto;
    // width: 100%;
    height: 24%;
    width: 52%;
  }
  .rides-header--text {
    padding-left: 90px;
    font-size: 20px;
  }
  .plans__inner-text {
    padding-right: 390px;
  }
  .review-content {
    padding-right: 0;
  }
  .rides__item {
    padding: 28px 50px 22px 56px;
  }
  .rides__items-wrapper .rides__item-right-part--text {
    font-size: 24px;
  }
  .rides__items-wrapper .rides__item-left-part ul li {
    font-size: 24px;
  }
  .dinner-subinfo__text::before {
    height: 265px;
  }
  .dinner-item:not(:last-child) {
    margin-right: 40px;
}
  .intro__text span {
    font-size: 120px;
  }
  .intro__text h1 {
    font-size: 100px;
  }
  .intro__text h2 {
    font-size: 50px;
  }
  .deal-content .swiper-container .swiper-button-next, .deal-content .swiper-container .swiper-button-prev {
    width: 50px;
    height: 50px;
  }
  .swiper-button-prev:after,.swiper-button-next:after {
    font-size: 25px !important;
  }
  .deal-content .slide-inner-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    margin-bottom: 40px;
}
.deal-content .swiper-slide-inner button {
  padding: 10px 20px;
}
  .instagram-link img {
    width: 40px;
    height: 40px;
  }
  .img-zoom::after {
    width: 60px;
    height: 60px;
  }
  .menu {
    max-width: 30%;
  }
  .plans__card img {
    width: 100%;
  }
  .plans__inner-top_left img {
    width: 100%;
    height: auto;
  }
  .health__grid-top-left img {
    width: 480px;
    height: auto;
  }
  .health__inner-grid img {
    width: 480px;
    height: auto;
  }
  .health__grid-center img {
    height: 244px;
    width: 100%;
  }
  .health__grid-center {
    picture:not(:fist-child) {
      width: 47%;
    };
    img  {
      width: 100%;
  height: 221px;
    }
  }
  .top__right-images img {
    width: 215px;
    height: 512px;
    object-fit: cover;
}
  .dinner-items {
    justify-content: center;
  }
  .menu__close-btn {
    margin-bottom: 60px;
  }
  .menu__title {
    margin-bottom: 40px;
  }
  .dinner-item img {
    width: 290px;
  }
  .dinner-subinfo__img-wrapper {
    img {
      width: 100%;
    }
  }
  .box img {
    width: 40px !important;
  }
  .gallery__grid {
    grid-template-columns: repeat(12, 60px);
    grid-template-rows: repeat(8, 140px);
  }
  .contacts__map-wrapper iframe {
    width: 100%;
  }
  .intro {
    background-position: center;
  }
  .menu__close-btn {
    margin-bottom: 50px;
  }
 .menu__title {
  margin-bottom: 30px;
 }
 .review-content--img-wrapper img:first-child {
   width: 300px;
 }
 .review-content-text {
   font-size: 26px;
    margin-bottom: 110px;
}
.revivew-content__subinfo-service--content img {
    width: 420px;
    height: 468px;
    padding-top: 60px;
    margin-right: 0px;
}
.footer__links-link, .footer__contacts-address .address, .footer__email, .footer__phones {
  font-size: 16px;
}
.footer__copyright {
  font-size: 14px;
}
.footer__logo{
  margin-right: 60px;
  & img{
    height: 160px;
    width: 160px;
  }
}
.footer__author a::before {
  right: 18px;
  width: 53%;
}
.footer__links-left, .footer__links-right {
  margin-right: 40px;
}
.footer{
  padding: 25px 0;
}
.footer__author {
  width: 186px;
  margin-right: 28px;
}
.footer__contacts{
  width: 33%;
}
.footer__wrapper.container{
  padding: 0;
}
.footer__policy {
  margin-right: 20px;
}
.rides__item-right-part--text{
  margin-bottom: 15px;
}
.rides__item-right-part--subtext{
  font-size: 18px;
  line-height: 80%;
}
.rides__item::before{
  width: 90px;
  height: 160px;
}
.rides__item:not(:first-child) .rides__item-left-part ul li:not(:last-child){
  margin-bottom: 17px;
  font-weight: 600;
}
.rides__item-left-part ul li{
  font-weight: 600;
}
}
@media (max-width:1369px) {
    .container {
      max-width: 980px;
    }
    .textarea_comment{
      width: 180px;
    }
}
@media (max-width: 1366px) {
  .guest__item--item-title {
    margin-top: 30px;
  }
  .guest .swiper-wrapper {
    height: fit-content!important
  }
  .guest__items--item {
    left: 0;
    width: 100%;
  }
  .guest__items {
    flex-direction: column
  }
  .guest__item--item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .guest__items--item {
    padding-right: 0px;
  }
  .right-part {
    margin-top: 20px;
    align-items: center;
  }
  .guest__item--item-title {
    max-width: 1000px;
    margin-top: 30px;
  }
  .guest-btn-wrapper .gues-squar::after {
    display: none;
  }
  .guest-btn {
    margin-right: 0;
  }
  .guest-btn-wrapper .gues-squar {
    margin-right: 0;
    margin-bottom: 30px;
  }
  .guest-btn-wrapper {
    flex-direction: column
  }
  .guest__bottom {
    width: 100%;
    transform: none;
  }
  .tabs-link-wrapper {
    justify-content: center;
  }
  .left-part .swiper-button-next {
    top: 72%;
    right: 15%;
    height: 44px;
}
.left-part .swiper-button-prev {
  top: 72%;
}

}

@media (min-width: 1367px) {
  .guest::after{
    content: '';
    position: absolute;
    top: 600px;
    background-image: url(../img/guest-right-figure.png);
    z-index: 0;
    height: 1170px;
    width: 1067px;
    right: 0px;
  }
}

@media (max-width: 680px) {
  .left-part img {
    width: 80%;
  }
  .dinner__center-item img {
    height: 250px;
  }
  .section-title {
    line-height: 50px;
  }
  .review-content__subinfo .review-content__subinfo-wrapper {
    margin-right: 0;
  }
  .review-content__subinfo .review-content__subinfo-wrapper {
    padding: 10px;
  }
  .guest__bottom {
    padding-right: 30px;
  }
}
@media (max-width:1180px) {
  .health__grid-bottom {
    margin-top: 30px;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text {
    font-size: 24px !important;
  }
  .gallery-slider .swiper-slide {
    height: 180px;
    & img {
      width: 100%;
      height: 180px;
    }
  }
  .rides__items-wrapper .rides__item-left-part {
    margin-right: 0;
    margin-left: 30px;
  }
  .dinner-subinfo__img-wrapper {
    margin-top: 50px;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text {
    transform: translate(-50%, -50%);
  }
  .container {
    max-width: 920px;
    padding: 0 20px;
  }
  .review-content__subinfo .review-content__subinfo-wrapper {
    padding-top: 80px;
  }
  .menu__close-btn {
    margin-bottom: 30px;
  }
  #booking-form {
    justify-content: flex-start;
    overflow-y: auto;
  }
 .menu__title {
  margin-bottom: 10px;
 }
 .intro__booking-inner  {
   flex-direction: column;
 }
 .intro__booking {
   height: auto;
 }
 .intro__booking-left,
 .intro__booking-right {
   width: 100%;
 }
 .intro__booking-left {
   margin-bottom: 20px;
 }
 .tooltype {
   top: 63px;
   right: 164px;
 }
  .review-content--img-wrapper img:first-child {
    width: 390px;
    height: 95%;
  }
  .review-content--img-wrapper img:nth-child(2) {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
  }
  .review-content__subinfo {
    margin-top: 60px;
  }
  .review-content__subinfo-service {
    padding-left: 0;
  }
  .revivew-content__subinfo-service--content img {
    width: 330px;
    height: 420px;
    object-fit: cover;
  }
  .review-content__subinfo-service {
    padding-left: 20px;
  }
  .review-content-text {
    font-size: 20px;
  }
  .review-content-text {
    font-size: 20px;
    margin-bottom: 80px;
  }
  .review-content--img-wrapper {
    margin-bottom: 20px;
  }
  .health__grid-bottom-text {
    padding-top: 0;
    padding-bottom: 28px;
  }
  .gallery__grid {
    a {
      display: flex;
      width: 250px;
      height: 250px;
    }
    .img-zoom::before,
    .img-zoom::after {
      content: none;
    }

  }
  .gallery-slider {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
    .swiper-button-prev {
      top: 35%;
    }
    .swiper-button-next {
      top: 35%;
    }
    .swiper-button-next, .swiper-button-prev {
      color: #E5D7CC;
      border-radius: 50%;
      background-color: rgba($color: #000000, $alpha: 0.4);
      height: 44px;
      width: 44px;
    }
  }
  .deal-content .swiper-container .swiper-button-prev {
    left: 40%;
  }
  .deal-content .swiper-container .swiper-button-next {
    right: 40%;
  }
  .gallery__title p {
    padding-bottom: 200px;
    margin-top: -170px;
    transform: translate(64px,170px);
  }
  .instagram-content .swiper-slide {
    height: 240px;
  }
  .map__info-title {
    font-size: 25px;
  }
  .footer__author  {
    width: 162px;
  }
  .footer__policy {
    max-width: 230px;
    margin-right: 72px;
  }
  .footer__logo {
    margin-right: 50px;
  }
  .gallery__grid img {
    width: 100%;
    height: 250px;
    object-fit: cover;
  }
  .grid__image  {
    grid-area: none !important;
  }
  .gallery__grid {
    display: flex !important;
    justify-content: center;
  }
  .dinner__item-title {
    line-height: 38px;
  }
  .dinner__center-item .dinner__item-text {
    padding: 30px 60px 30px 0px;
  }
  .rides-header__img {
    width: 400px;
    height: 289px;
    object-fit: contain;
  }
  .rides-header--text {
    padding: 90px 52px 90px 110px;
  }
  .dinner__center-item.rightside .dinner__item-text {
    padding-bottom: 30px;
  }
  .top__right-images img {
    width: 195px;
  }
  .review-content__subinfo img {
    width: 360px;
    height: auto;
    position: inherit;
  }
  .health__grid-bottom-images .first {
    margin-bottom: 7px;
  }
  .plans__inner-cards .plans__card .plans__card-advantage {
    font-size: 14px;
  }
  .plans__inner-cards .plans__card .plans__card-advantage::before {
    width: 21px;
    height: 15px;
  }
  .plans__inner-cards .plans__card .plans__card-name {
    max-width: 165px;
  }
  .dinner-overlay {
    flex-direction: column;
    align-items: center;
  }
  .dinner-subinfo__text::before {
    width: 211%;
    height: 239%;
    left: -56%;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text {
    transform: translate(-43%,-50%);
  }
  .dinner__center-item .dinner__item-img, .dinner__center-item.rightside .dinner__item-img {
    width: 90%;
  }
  .dinner-content .dinner-header {
    transform: translate(-44px, 290px);
  }
  .plans__inner-text {
    padding-right: 400px;
  }
  .btn {
    padding: 1.5rem 3rem;
  }
  .review-content--img-wrapper img:nth-child(3) {
    width: 150px;
    height: auto;
  }
  .footer__author a::before{
    border-bottom: none;
  }
  .rides-header {
    flex-direction: column;
    align-items: center;
  }
  .rides .title {
    width: 100%;
    line-height: 43px;
  }
  .rides-header__img {
    width: 90%;
    height: 300px;
    -o-object-fit: contain;
    object-fit: cover;
}
.rides-header--text {
  width: 100%;
  position: relative;
}
  .rides__items-wrapper .rides__item {
    flex-direction: column;
    align-items: center;
    &-left-part, &-right-part {
      width: 100%!important;
    }
  }
  .rides__items-wrapper .rides__item-right-part--subtext {
    position: relative;
    bottom: auto;

  }
  .rides .rides--subtext {
    left: 50%!important;
    transform: translateX(-50%)!important;
    padding: 181px 47px 56px 105px!important;
    width: 100%!important;
  }
  .rides__items-wrapper .rides__item {
    padding-left: 50px!important;
    padding-right: 50px!important;
  }
}






@media (max-width: 392px) {
  .intro__booking-title {
    max-width: 210px;
  }
.intro__booking-input {
  font-size: 2rem;
  margin-right: 5px;
  font-weight: 400;
  line-height: 28px;
}
}

@media (max-width:996px) {
  .deal-content .swiper-container {
    width: 100%;
    transform: none;
    left: 0;
  }
  .health .phone span {
    height: 35px;
  }
  .health .phone {
    height: 70%;
  }
  .plans {
    padding-top: 0;
  }
  .plans__inner-bottom {
    margin-top: 0;  }
  .deal-content .swiper-slide {
    height: 276px;
  }
  .deal-content .swiper-container .swiper-button-prev {
    top: 73%!important;
  }
  .deal-content .swiper-container .swiper-button-next {
    top: 73%!important;
  }
  .footer__logo img {
    height: 80px;
    width: 80px;
    margin-bottom: 30px;
}
  .deal-content .swiper-slide-inner button {
    padding: 5px 10px
  }
  header {
    .btn, .header__rightside-icons {
      display: none;
    }
    .mobile__btn {
      font-size: 16px!important;
      display: block!important;
      margin-right: 15px!important;
      padding: 1.5rem 2rem!important;
    }
  }
  .rides .title {
    text-align: center;
    width: 100%;
    float: none;
  }
  .rides-header {
    margin-bottom: 40px;
  }
  .rides__item:not(:last-child) {
    margin-bottom: 40px;
}
  .lightbox-image {
    object-fit: cover;
  }
  .lightbox-text-content {
    font-size: 18px;
  }
  .inputs-item {
    width: 45%;
  }
  .menu {
    .btn, .header__rightside-icons {
      display: block;
      margin: 0 auto;
    }
    .header__rightside-icons {
      margin-left: 0;

      margin-right: 0;
      display: flex;justify-content: center;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
  .container {
    max-width: 100%;
  }
  .menu__close-btn {
    margin-bottom: 10px;
  }
  .menu__close-btn:hover {
    transform: none;
  }
 .menu__title {
  margin-bottom: 10px;
 }

 .menu ul li {
   margin-bottom: 5px;
 }
  .menu {
    max-width: 50%;
  }
  .review-content--img-wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    grid-row-gap: 0px;
  }
  .review-content--img-wrapper img:nth-child(3) {
    display: none;
  }
  .review-content__subinfo .review-content__subinfo-wrapper {
    padding: 10px;
    margin-right: 0;
  }
  .review-content__subinfo img {
    bottom: 0;
  }
  .review-content__subinfo-service--title {
    text-align: center;
    margin-bottom: 20px;
  }
  .review_content__subinfo-service--list li::before {
    height: 15px;
    width: 7.5px;
    left: -15px;
  }
  .review_content__subinfo-service--list {
    padding-left: 20px;
  }
  .review-content--right-part {
    height: 100%;
  }
  .rules {
    justify-content: center;
  }
  .health__grid-center img, .health__grid-top-left img, .health__inner-grid img {
    width: 336px;
  }
  .health__title {
    margin-bottom: 10px;
  }
  .top__right-text {
    padding-top: 0;
  }
  .health__grid-top {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: flex-start;
    padding-top: 30px;
  }
  .top__right-images img {
    width: 220px;
  }
  .health__grid-center {
    img {
      width: 100%;

    }
    img:not(:last-child) {
      margin-right: 40px;

    };
  }

  .top__right-images img {
    width: 90%;
  }
  .health__grid-center picture:not(:last-child) {
    margin-right: 40px;
  }
  .health__grid-bottom--img {
    width: 48%;
    margin-right: 0px;
    height: 100%;
    overflow: hidden;
    & img {
      height: 100%;
      width: 100%;
    }
  }
  .health__grid-top-left img {
    width: 100%;
  }

  .plans__inner-text {
    padding-right: 0;
    transform: translate(0px,-120px);
    margin-bottom: -120px;
  }
  .plans__card-info_left {
    .btn {
      display: none;
    }
  }
  .plans__inner-cards .plans__card .plans__card-name {
    max-width: 100%;
  }
  .plans__card-info_right {
    width: 100%;
    text-align: center;
  }
  .plans__inner-cards .plans__card-info {
    flex-direction: column;
    align-items: center;

  }
  .plans__inner-cards .plans__card .plans__card-advantage {
    text-align: left;
  }
  .dinner-content .dinner-header {
    flex-direction: column;
    margin-top: -322px;
    padding: 50px 25px 179px 50px;
    transform: translate(-44px,322px);
    p:first-child {
      margin-bottom: 10px;
    }
  }
  .dinner-subinfo__text p {
    padding-left: 0;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  .dinner-content .dinner-header__item:not(:first-child) {
    margin-left: 0%;
  }
  .review {
    padding-bottom: 50px;
  }
  .health {
    padding-top: 0;
    margin-bottom: 50px;
  }
  .rides {
    padding-top: 50px;
  }
  .dinner {
    margin-top: 50px;
  }
  .health__grid-bottom-title {
    line-height: 34px;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100px;
    margin: auto;
    width: 250px;
    transform: translate(0, 0);
  }
  .rides-header {
    flex-direction: column;
    align-items: center;
  }
  .rides__item-right-part--subtext {
    font-size: 18px;
  }
  .rides__item::before {
    top: -60px;
  }
  .rides .rides--subtext {
    padding: 41px 47px 56px !important;
    bottom: -140px !important;
  }
  .title {
    text-align: center;
  }
  .rides-header--text {
    height: auto;
    padding: 60px 52px 30px 110px;
  }
  .dinner__center-item.rightside .dinner__item-text {
    padding: 0px 30px 30px 0px;
  }
  .dinner__center-item .dinner__item-text {
    padding: 30px 30px 30px 0px;
  }
  .dinner-subinfo__img-wrapper {
    width: 80%;
  }
  .dinner-subinfo__text {
    width: 100%;
  }
  .dinner-items {
    flex-wrap: wrap;
    .dinner-item {
      margin-bottom: 20px;
    }
  }
  .media992 {
    display: inline-block;
    margin: 0 auto;
  }
  .intro__booking-input.input-1::after, .intro__booking-input.input-2::after {
    height: 34px;
  }
  .modal-content {
    width: 100%;
    height: 86%;
  }
  .health::before {
    display: none;
}
.dinner {
  margin-top: 30px;
}
.dinner-subinfo__img-wrapper .dinner-subinfo__img-text span {
  height: 30px;
}
.rides {
  padding-top: 30px;
}
.deal {
  padding-top: 50px;
  padding-bottom: 40px;
}
.news__inner {
  margin-top: 50px;
}
.instagram {
    margin-bottom: 20px;
    margin-top: 40px;
    padding-bottom: 20px;
}
.contacts {
  margin-bottom: 40px;
}


  .review-content__subinfo-service::before, .review-content__subinfo .review-content__subinfo-wrapper::before {
    display: none;
  }
  .review-content__subinfo-service {
    padding-left: 0;
  }
  .review {
    padding-top: 40px;
  }

  .guest {
    &::before {
      width: 100%;
    }
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__copyright {
    justify-content: space-around;
    * {
      margin-right: 0;
    }
  }
  .section-title {
    margin-bottom: 10px;
  }
  .instagram .section-title {
    text-align: center;
  }
  .news__appeal .quotes {
    font-size: 160px;
    top: -130px;
  }
  .gallery__title p {
    padding: 15px 20px 200px 20px;
    width: 100%;
    text-align: center;
    transform: translate(0px,170px);
  }
  .top__right-text {
    padding: 30px 30px 30px 0;
  }
  .top__left-text {
    padding: 30px 30px 30px 0px;
  }
  .review-content--left-part img,
  .review-content--img-wrapper img:nth-child(2),
  .review-content--img-wrapper img:first-child {
    width: 357px;
    margin-bottom: 10px;
    height: 200px;
  }
  .intro {
    background-position: right;
  }
  .left-part .swiper-button-next {
    right: 13% !important;
}
  .rides-header__img {
    display: none;
  }
  .rides-header--text {
    width: 100%;
    margin-top: 40px;
    padding: 60px 52px 30px 52px;
    padding-top: 30px;
  }
}


@media (max-width:772px) {
  .review-content-text {
    margin-bottom: 60px;
  }
  .intro__booking-input.input-1::before, .intro__booking-input.input-2::before {
    bottom: 5.5px;
  }
  .lightbox-image {
    width: 85vw;
  }

  .deal-content .swiper-slide-inner {
    height: 152px;
  }
  .health {
    padding-top: 30px;
  }
  .review {
    padding-bottom: 00px;
}
.health .box img {
  height: 40px;
  object-fit: contain;
  width: 40px;
}
.phone-title  {
  font-size: 24px!important;
  height: 80%;

}
.health .phone span {
  height: 30px;
  font-size: 48px;
}
.health .phone {
  height: 45%!important;
}
.dinner {
  margin-top: 10px;
}
.dinner-content .dinner-header {
  padding-top: 10px;
}
.dinner-subinfo {
  margin-top: 20px;
}
  .deal-content .slide-inner-title {
    margin-bottom: 20px;
  }
  .map__info-title {
    padding: 5px 10px;
  }
  .map__info-address p {
    transform: none;
  }
  .deal-content .swiper-container .swiper-button-prev {
    left: 7%!important;
    top: 70%;
}
.deal-content .swiper-container .swiper-button-next {
    right: 7%!important;
    top: 70%;
}
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text .box {
    width: 60%;
}
  .revivew-content__subinfo-service--content img {
    width: 340px;
  }
  .review > .section-title {
    line-height: 40px;
  }

  .review-content--left-part {
    display: flex;

  }
  .health__grid-top-left picture,
  .health__grid-bottom > picture {
    display: none;
  }
  .review-content--left-part>img {
    display: none;
  }
  .review-content--img-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .health__grid-center picture:not(:last-child) {
    margin-right: 0;
  }
  .health__grid-bottom-paragraph {
    padding-right: 40px;
  }
  .phone-title  {
    font-size: 35px;
  }
  .health .box img {
    object-fit: cover;
  }
  .health .phone {
    position: absolute;
    top: 47%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translate(-50%,-50%);
    z-index: 5;
    width: 40%;
    height: 63%;
    left: 50%;
  }
  .health .phone span {
    font-size: 50px;
  }
  #booking-form {
    overflow-y: scroll;
    justify-content: flex-start;
    width: 100%;
  }
  .modal .inputs-wrapper {
    width: 100%;
  }
  .modal2 .inputs-wrapper {
    width: 100%;
  }
  .textarea_comment {
    height: 100px;
  }
  .lightbox-text-content {
    font-size: 14px;
    padding: 10px 20px;
  }
  .lightbox-image {
    height: 65vh;
  }
  .tooltype {
    max-width: 356px;
    background-size: cover;
    top: 71px;
    right: 86px;
  }
  .intro__booking-inputs {
    flex-wrap: wrap;
    justify-content: space-between;
    .intro__booking-input  {
      width: 47%;
      margin-right: 0;
      input {
        width: 100%;
        max-width: 100%;
      }
    }
  }
  .review-content {
    flex-direction: column;
    margin-top: 40px;
  }
  .review-content__subinfo img {
    width: 235px;
  }
  .review-content-text {
    padding-top: 0;
  }
  .rules {
    margin-bottom: 40px;
  }
  .revivew-content__subinfo-service--content .img-zoom {
    display: none;
  }
  .health__inner-grid {
    display: flex;
    flex-direction: column;
  }
  .health__grid-top, .health__grid-center {
    flex-direction: column;
  }
  .health__grid-center {
    align-items: center;
  }
  .health__grid-bottom > img {
    display: none !important;
  }
  .health__grid-bottom-text::before {
    width: 866px;
  }
  .foreseeing__inner ul {
    padding-left: 0;
  }
  .inputs-wrapper, .foreseeing__inner, .health__grid-bottom-images  {
    display: flex;
    flex-direction: column;
  }
  .foreseeing__inner img {
    width: 200px;
  }
  .review-content--img-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .review-content--img-wrapper img:first-child, .review-content--img-wrapper img:nth-child(2), .review-content--left-part img {
    width: 100%;
  }
  .plans__inner-top .plans__top-text::before {
    width: 1000px;
    left: -10%;
    height: 400px;
    top: -50px;
  }
  .footer__copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .dinner-items .dinner-item {
    margin-right: 0;
  }
  .dinner-item img {
    width: 400px;
  }
  .plans__inner-top .plans__inner-top_left {
    display: none;
  }
  .plans__inner-top .plans__top-text {
    width: 100%;
  }
  .plans__subtitle {
    text-align: center;
  }
  .plans__inner-top_left img {
    display: none;
  }
  .rides__item {
    padding: 15px 30px;
  }
  .rides__item:not(:last-child) {
    margin-bottom: 40px;
  }
  .inputs-wrapper {
    min-width: 100%;
  }
  .inputs-item-5 input {
    height: 150px;
  }
  .inputs-item {
    width: 100%;
  }
  .health__grid-bottom-images {
    text-align: center;
  }
  .health__grid-bottom-right {
    width: 100%;
  }
  .top__right-images {
    display: none;
  }
  .health__grid-top-left, .health__grid-top-right {
    display: flex;
    width: 100%;
  }
  .health__grid-top-left .top__left-text {
    padding: 10px;
    width: 100%;
  }
  .health__grid-top-left {
    width: 100% !important;
  }
  .health__grid-center picture {
    width: 100%;
  }
  .humber {
    width: 100%;
  }
  .deal-content .swiper-container .swiper-button-prev {
    top: 71px;
  }
  .deal-content .swiper-container .swiper-button-next {
    top: 71px;
  }
}


@media (max-width:640px) {
  .review-content__subinfo .review-content__subinfo-wrapper {
    width: 100%;
  }
  .dinner-subinfo__img-wrapper {
    width: 100%;
}
  .review-content__subinfo-img {
    display: none;
  }
  .revivew-content__subinfo-service--content {
    flex-direction: column;
    align-items: center;
  }
  .review-content__subinfo-service {
    margin-top: 40px;
    padding-top: 10px;
  }
}

@media (max-width:556px) {
  .health .phone {
    display: flex!important;
    justify-content: center;
  }
  .health .box img {
    width: 30% !important;
}
.footer__phones {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column
}
.footer__links-wrapper {
  width: 100%;
}
.footer__contacts-address .address, .footer__email, .footer__links-link, .footer__phones {
  font-size: 14px;
}
.menu__close-btn {
  width: 26px;
  height: 27px;
  position: absolute;
  left: 0;
  top: 28px;
}
.health .box {
  width: 90%;
  & span {
    font-size: 40px;
  }
}
.phone-title {
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.health .phone {
  width: 80%;
}
  .plans__inner-text {
    padding-left: 20px;
  }
  .dinner-subinfo__img-wrapper .dinner-subinfo__img-text .box {
    width: 60%;
}
.dinner-subinfo__img-text {
  width: 70%;
}
.health .phone {
  height: 60% !important;
}
.health .box img {
  object-fit: contain;

}
.health .phone span {
  height: 30px;
}
.health .phone .box {
    margin-top: 5px;
}
.phone-title {
  justify-content: space-between;
  padding-top: 10px;
}
.health .box {
  width: 80%;
}
.dinner-subinfo__img-wrapper .dinner-subinfo__img-text {
  padding: 0;
}
.dinner-subinfo__img-wrapper .dinner-call {
    width: 100%;
    height: 130px;
}
  .plans__card-name {
    font-size: 18px;
  }
  .rides__item {
    flex-direction: column;
  }
  .rides__item-right-part {
    width: 100%;
    margin-left: 0;
  }
  .header__rightside-icons {
    display: none;
  }
  .footer__links {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .intro__booking-right-btn {
    padding: 0px 0px 0px 0px;
  }
  .intro__booking-right-tooltype, .intro__booking-right-input {
    margin-right: 10px;
  }
  .intro__booking-input p,
  .intro__booking-inputs .intro__booking-input input {
    font-size: 1.6rem;
  }
  .tooltype {
    left: 0;
    right: 0;
    margin: auto;
    max-width: 300px;
    top: 130px;
  }
  .footer__links-left {
    margin-right: 0;
  }
  .footer__links-right {
    margin-right: 0;
  }
  .footer__logo {
    margin-right: 0;
  }
  .intro__text span {
    font-size: 100px;
  }
  .intro__text h1 {
    font-size: 80px;
  }
  .rides--subtext {
    padding: 150px 30px 30px 50px;
  }
  .rides__item-left-part {
    margin-bottom: 20px;
  }
  .menu {
    max-width: 100%;
  }
  .plans__inner-text,
  .gallery__title p,
  .dinner-content .dinner-header {
    background: transparent;
  }
  .dinner-subinfo__text::before,
  .plans__inner-top .plans__top-text::before,
  .health__grid-bottom-text::before {
    display: none;
  }
  header .logo {
    width: 60px;
    height: 60px;
    img {
      width: 100%!important;
      height: 100%!important;
      object-fit: contain;
    }
  }
}

@media (max-width: 480px) {
  .plans__inner-text {
    padding-bottom: 20px;
  }
  .plans__inner-cards .plans__card .plans__card-name {
    margin-bottom: 10px;
  }
  .plans__inner-cards .plans__card img {
    margin-bottom: 10px;
}
  .header__rightside .btn {
    display: none;
  }
  .intro__text span {
    font-size: 60px;
  }
  .intro__text h1 {
    font-size: 40px;
  }
  .modal-content .modal-close  {
    top: 10px;
    right: 10px;
  }
  .modal-content .title {
    padding-right: 10px;
  }
  .modal-close svg {
    width: 10px;
    height: 10px;
  }
  .modal-content .subtitle {
    font-size: 1.8rem;
  }
  .modal .inputs-item input {
    height: 25px;
  }
  .modal2 .inputs-item input {
    height: 25px;
  }
  .inputs-item, .inputs-item label   {
    font-size: 1.6rem;
  }
  .health__grid-center img, .health__grid-top-left img, .health__inner-grid img {
    width: 100%;
  }
  .rides-header__img {
    width: 100%;
  }
  .lightbox-text-content {
    width: 220px;
    bottom: 20px;
  }
  #left, #right {
    bottom: 65px;
  }
  #left {
    left: 10px;
  }
  #right {
    right: 10px;
  }
  .lightbox-text-content svg {
    height: 20px;
  }
  .dinner-subinfo__text::before {
    height: 200%;
  }
  .dinner__center  {
    flex-direction: column;
  }
  .dinner__center-item, .dinner__center-item.rightside {
    width: 100%;
  }
  .plans__inner-cards  {
    flex-direction: column;
  }
  .plans__inner-cards .plans__card {
    width: 100%;
    margin-bottom: 20px;
  }
  .inputs-wrapper {
    width: 300px;
  }
  .rides__item::before {
    content: none;
  }
  .deal-content .swiper-container .swiper-button-next {
    right: 29%;
  }
  .deal-content {
    margin: 20px 0;
  }
  .gallery__grid img {
    height: 180px;
  }
  .news__appeal .quotes {
    content: none;
    display: none;
  }
  .news__appeal {
    padding: 10px 10px;
  }

  .deal-content .slide-inner-title {
    font-size: 20px;
    margin-bottom: 17px;
  }
  .deal {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .rides__items-wrapper {
    padding: 0px 0px 0px 0px;
  }
  .rides-header--text {
    top: auto;
    left: auto;
    padding: 40px 30px;
  }
  .dinner-item img {
    width: 300px;
  }
  .title {
    font-size: 28px;
    line-height: 35px;
  }
  .plans__inner-text {
    padding-left: 10px;
  }
  .dinner__center-item.rightside .dinner__item-text {
    padding: 0px 0px 30px 0px;
  }
  .dinner__center-item .dinner__item-img, .dinner__center-item.rightside .dinner__item-img {
    width: 100%;
  }
  .intro__text h2 {
    font-size: 30px;
  }
  .review-content--img-wrapper img:first-child, .review-content--img-wrapper img:nth-child(2), .review-content--left-part img {
    height: 110px;
  }
  .inputs-item-1 input, .inputs-item-2 input, .inputs-item-3 input, .inputs-item-4 input {
    min-height: 30px;
  }
}


@media (min-width: 1450px) {
  .intro__booking-input {
    font-size: 1.6rem;
  }
  .intro__booking-right-input {
    font-size: 1.6rem;
  }

  .intro__booking-right {
    align-items: flex-end;
  }
  .intro__booking-right-btn {
    padding-bottom: 0;
    padding-top: 0;
  }
  .intro__booking-right-input {
    position: relative;
    bottom: 10px;
  }
  .intro__booking-right-tooltype {
    padding-top: 10px;
  }
  .tooltype {
    top: -40px;
  }
}

@media(min-width: 1600px) {
  .modal .inputs-item:nth-child(5) {
    width: 100%;
    padding-left: 30px;
    & input {
      width: calc(100% - 25px)!important;
    }
  }
  .modal2 {
    .inputs-item:nth-child(5) {
      padding-left: 10px;
      width: calc(100% - 30px) !important;
    }

    .modal-content .subtitle {
      min-width: 800px;
      font-size: 24px;
    }
  }
}




.modal-subinfo {
  text-align: center;
  color: #646464;
  font-size: 24px;
}

@media (max-width: 1024px) {
  .deal-content .swiper-container .swiper-button-prev {
    left: 27%;
    top: 84%;
  }
  .deal-content .swiper-container .swiper-button-next {
    top: 84%;
    right: 27%
  }
  .modal-content .subtitle {
    font-size: 14px;
  }
  .modal-subinfo, .modal-content .checkbox {
    font-size: 16px;
  }
  .modal-content {
    padding-bottom: 30px;
  }
  .gallery {
    padding-bottom: 0;
    & .btn {
      display: none;
    }
  }
}


@media (max-width: 767px) {
  .modal-content .subtitle {
    font-size: 10px;
  }
  .lightbox-text-content {
    visibility: hidden;
  }
  #right, #left {
    visibility: visible;
    top: -10%;
    position: absolute;
    outline: none!important;
    border-radius: 100%;
    height: 44px;
    width: 44px;
    background-color: #fff;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;

  }

  .modal-subinfo, .modal-content .checkbox {
    font-size: 16px;
  }
  .modal-content {
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .menu__list {
    padding-left: 0;
  }


}


@media (max-width: 780px) {
  .guest__item--item-content .left-part {
    left: 0!important;
  }
  .left-part img {
    width: 100%!important;
  }
  .guest__item--item-content>.left-part>.btn {
    max-width: 440px;
    left: 0px!important;
    position: relative;
    top: 20px;
}
.guest .swiper-slide-prev {
  right: 0;
}
.guest__item--item-content > .left-part > .btn {
  top: 40px;
}
.guest__item--item-content {
  overflow: hidden;
}
.guest__item--item-title {
  text-align: center;
  padding: 0 15px;
}
}
@media (max-width: 530px) {
  .guest__item--item-title {
    text-align: center;
    max-width: 300px;
  }
  .rides-header--text  {
    text-align: center;
  }
  .map__info-contants-links {
    flex-direction: column;
    align-items: center;


  }

  .map__info-contacts-phone {
    margin-bottom: 10px;
  }
  .map__info-wrapper {
    width: 98%;
    left: 50%;
    transform: translateX(-50%)
  }
  .guest-subinfo {
    text-align: center;
    padding: 10px;
  }
  .breadcrumb {
    text-align: center;
    display: block;
  }
}




@media (min-width: 1160px) {
  .modal-content {
    overflow-y: scroll!important;
  }
}




@media only screen and (max-width: 1366px) {
  .guest__item--item-content .left-part {
    width: 100%!important;
    margin-right: 0!important;
    left: -80px!important;
  }
  .guest__item--item-content > .left-part > .btn {
    left: 104px!important;
  }
  .right-part {
    margin-top: 0px!important;
  }
    .guest-slider .swiper-button-prev {
      top: 68%!important;
      left: 35%!important;
  }
  .guest__items--item::before {
    display: none;
  }
.guest-slider {
  left: 0!important;
}
  .left-part .swiper-button-next, .left-part .swiper-button-prev {
    top: 90%!important;
  }
  .guest__item--item-content .left-part {
    width: 100%!important;
    margin-right: 0!important;
    left: -95px!important;
}
.guest__item--item-title {
  margin-top: 20px;
}
 }

@media (max-width: 1180px) {

  .guest__item--item-content .left-part {
    left: -115px!important;
  }
  .btn--more {
    display: none;
  }
  .gallery {
    padding-bottom: 70px;
  }

  .guest__item--item-content > .left-part > .btn {
    max-width: 440px!important;
    left: 113px!important;
    position: relative!important;
  }
  .left-part .swiper-button-next {
    top: 72%;
    right: 9%;
    height: 44px;
}

}



@media (max-width: 780px) {
.guest__item--item-content .left-part {
  left: 0 !important;
}
.left-part .swiper-button-prev {
    left: 3% !important;
}
.left-part .swiper-button-next {
    right: 3% !important;
}
.guest__item--item-content > .left-part > .btn {
  left: 0 !important;
}
}

@media (max-width: 565px) {
  .deal-content .swiper-container .swiper-button-prev {
    left: 1.5%!important;
    top: 75%!important;
}
.deal-content .swiper-container .swiper-button-next {
    top: 75%!important;
    right: 1.5%!important;
}
.deal-content .swiper-slide-inner {
  height: 145px;

}
.deal-content .swiper-slide-inner button {
    font-size: 12px;
}

.deal-content .swiper-slide-inner {
  margin-bottom: 0;
}
.rides .rides--subtext {
  left: 50%!important;
  transform: translateX(-50%)!important;
  font-size: 16px!important;
  padding: 181px 47px 56px 47px!important;
  width: 100%!important;
}
.rides__items-wrapper .rides__item {
  padding-left: 20px!important;
  padding-right: 20px!important
}
}

@media (max-width: 435px) {
  .deal-content .swiper-slide-inner button {
    padding: 5px 10px
  }
  .map__info-title{
    font-size: 20px;
    & span{
      width: 18px;
      height: 18px;
    }
  }
  .map__info-address, .map__info-contacts a {
    font-size: 1.7rem;
  }
  .map__info-wrapper{
    padding: 15px 45px 23px;
  }
}

@media (max-width: 380px) {
  .deal-content .swiper-slide-inner button {
    padding: 5px 10px;
  }
}


@media (min-width: 1451px) {
  .health__grid-center {
    margin-bottom: 40px;
  }
}

@media (min-width: 1367px) and (max-width: 1451px) {
  .guest .swiper-slide img {
    object-fit: cover;
    width: 380.17px;
    height: 347px;
  }
}

@media (max-width: 1920px) and (min-width: 1180px) {
  .rides__item:first-child {
    .rides__item-left-part {
      width: 0%;
    }
    .rides__item-right-part {
      width: 75%;
    }
  }
}

@media (max-width: 420px) {
  .deal-content .slide-inner-title {
    font-size: 18px;
    margin-bottom: 17px;
    padding: 0 5px;
}
}

@media (max-width: 380px) {
  .deal-content .slide-inner-title {
    font-size: 14px;
    margin-bottom: 14px;
    padding: 0 5px;
}
.revivew-content__subinfo-service--content img {
  width: 100%;
}
.health__grid-top-left .top__left-text {
  padding-left: 0;
}
.deal-content .swiper-slide-inner button {
  padding: 5px 20px
}
.deal-content .swiper-slide-inner {
  height: 140px;
}
.guest__item--item-content > .left-part > .btn {
  font-size: 1.5rem;
}
}

@media (max-width: 484px) {
  .intro__booking-right {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .phone-title {
    padding-top: 0px;
  }
  .health .box {
    width: 80%!important;
  }
  .phone-title {
    font-size: 18px !important;
  }
  .intro__booking-textarea_link {
    margin-bottom: 10px;
  }
  .intro__booking-right-tooltype {
    margin-top: 20px;
  }
  .intro__booking-right-input {
    margin-top: 10px;
  }
  .health .phone {
    height: 80% !important;
  }
}


@media (min-width: 500px) {
  .intro__booking-input.input-1 input, .intro__booking-input.input-2 input{
    min-width: 145px;
  }
}
